@use "../lib/root.scss" as root;
@use "../lib/mixin.scss" as mixin;

.card-lazy {
  animation: loading 1s infinite alternate;
  @include mixin.flex(start, start);
  width: 100%;
  margin: 1em auto;
  border-bottom: 1px solid root.$color-lazy;
  padding-bottom: 2em;

  .image-lazy {
    width: 120px;
    height: 120px;
    margin-right: 1.2em;
    border-radius: 15px;
    background-color: root.$color-lazy;
  }

  .description-lazy {
    @include mixin.flex(space-between, start);
    min-height: 120px;
    flex-direction: column;

    & > div {
      width: 50vw;
      span {
        background-color: root.$color-lazy;
        width: 100%;
        height: 20px;
        display: block;
        margin-bottom: 0.5em;
      }
    }

    .btn-lazy {
      span {
        width: 150px;
        height: 30px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .card-lazy {
    display: block;
    border: 1px solid root.$color-lazy;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: hidden;

    .image-lazy {
      width: 100%;
      height: 200px;
      border-radius: 0 0 10px 10px;
    }

    .description-lazy {
      @include mixin.flex(space-between, center);
      flex-direction: column;
      width: 100%;
      height: 150px;
      max-width: none;
      padding: 0 1em;
      box-sizing: border-box;

      & > div {
        width: 95%;
        margin: auto;

        span {
          margin: 0.5em auto;
        }
      }
    }
  }
}

@keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
