@use "../lib/root.scss" as root;
@use "../lib/mixin.scss" as mixin;

.card {
  @include mixin.flex(start, start);
  width: 100%;
  margin: 1em auto;
  border-bottom: 1px solid root.$color-lazy;
  padding-bottom: 2em;

  .image {
    width: 120px;
    height: 120px;
    background-color: root.$color-lazy;
    margin-right: 1.2em;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .description {
    @include mixin.flex(space-between, start);
    min-height: 120px;
    max-width: 50%;
    flex-direction: column;

    h3 {
      font-size: 1em;
      color: root.$primary-blue;
    }

    a {
      background-color: root.$scondary-blue;
      color: root.$light;
      font-size: 1em;
      padding: 5px 10px;
      text-decoration: none;
      border-radius: 5px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:hover {
        background-color: root.$primary-blue;
        box-shadow: none;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .card {
    display: block;
    border: 1px solid root.$scondary-blue;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;

    .image {
      width: 100%;
      height: 200px;
      border-radius: 0 0 10px 10px;
    }

    .description {
      @include mixin.flex(space-between, center);
      flex-direction: column;
      width: 100%;
      height: 150px;
      max-width: none;
      margin: 1em 0 0.5em;
      padding: 0 1em;
      font-size: 1.2em;
      box-sizing: border-box;
    }
  }
}
