@use "../lib/root.scss" as root;

header {
  background-color: root.$primary-blue;
  color: root.$light;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  header {
    text-align: left;
    padding-left: 2em;
  }
}
